@model Household_Budgeter.Models.BankAccount

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseholdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialBalance)
            </th>
            <th>
                Warning Balance
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReconcileBalance)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.HouseholdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Model.Created.ToString("D")
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.Balance)
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.InitialBalance)
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.WarningBalance)
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.ReconcileBalance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Update", "Update", new { id = Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}




<div>
    @Html.ActionLink("Back to List", "Index")
</div>