@model Household_Budgeter.Models.BankAccount

@{
    ViewBag.Title = "Update";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseholdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialBalance)
            </th>
            <th>
                Warning Balance
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReconcileBalance)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.HouseholdId)
                @Html.HiddenFor(modelItem => Model.HouseholdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
                @Html.HiddenFor(modelItem => Model.Name)
            </td>
            <td>
                @Model.Created.ToString("D")
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.Balance)
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.InitialBalance)
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.WarningBalance)
            </td>
            <td>
                @Html.EditorFor(modelItem => Model.ReconcileBalance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </td>
        </tr>
    </table>

    <div class="form-group">
        <a type="submit" data-toggle="modal" href="#SaveAccount" class="btn btn-default">Update</a>
    </div>

    if (Model.ReconcileBalance <= Model.WarningBalance)
    {
        <!-- Modal -->
        <div class="modal fade" id="SaveAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to leave <mark>@Model.Name</mark>?
                        You will lose access to your bank account(s).
                    </div>
                    <div class="modal-footer">
                        <form method="Post" action="@Url.Action("Update")">
                            <input type="submit" class="btn btn-danger pull-right" />
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>