@model Household_Budgeter.Models.Household

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Members
        </th>
        <th>
            BankAccounts
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Members.Count()
        </td>
        <td>
            @Model.BankAccounts.Count()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
            @Html.ActionLink("Leave", "Leave", new { id = Model.Id })
        </td>
    </tr>

</table>
