@model Household_Budgeter.Models.Household

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Members
        </th>
        <th>
            BankAccounts
        </th>
        <th>
            Savings
        </th>
        <th>
            Checking
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Members.Count()
        </td>
        <td>
            @Model.BankAccounts.Count()
        </td>

        @foreach (var item in Model.BankAccounts)
        {
            <td>
            @item.Balance.ToString("C")
            </td>
        }

        <td>
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default">Change Name</a>
            <a href="@Url.Action("Details", new { id = Model.Id })" class="btn btn-default">View Details</a>
            <a data-toggle="modal" href="#leaveHousehold" class="btn btn-default">Leave Household</a>
        </td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="leaveHousehold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to leave <mark>@Model.Name</mark>?
            </div>
            <div class="modal-footer">
                <form method="Post" action="@Url.Action("Leave")">
                    <input type="submit" class="btn btn-danger pull-right" />
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->