@model IEnumerable<Household_Budgeter.Models.BudgetItem>

@{
    ViewBag.Title = "Index";
}
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div  class="panel-title">
                    <h2><i class="fa fa-cubes"></i> Budget Items<a data-toggle="modal" href="#create" class="btn btn-default pull-right">Add A New Element</a></h2>
                </div>
            </div>
            <div class="panel-body">
                <table class="table" id="budgetItemsTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Budget.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <i class="fa fa-cube"></i> @Html.DisplayFor(modelItem => item.Budget.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    @item.Amount.ToString("C")
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil btn btn-xs btn-warning"></i></a>
                                    <span class="delete-section">
                                        <a class="delete-link" href="@Url.Action("Delete", new {id = item.Id})"><i class="fa fa-close btn btn-xs btn-danger"></i></a>
                                        <span class="btn btn-danger btn-xs delete-confirm" style="display:none" data-delete-id="@item.Id">Confirm Delete</span>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <div class="container" style="padding: 20px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Add New Element</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">BudgetItem</a></li>
                            <li><a data-toggle="tab" href="#menu1">Budget</a></li>
                            <li><a data-toggle="tab" href="#menu2">Categories</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                @Html.Action("_CreateBudget", "Budgets")
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                @Html.Action("_CreateBudget", "Budgets")
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                @Html.Action("Create", "Categories")
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->