@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>Household Budgeter Application</h1>
    <p class="lead">
        A financial portal built using Microsoft MVC, Entity Framework, Code-First database creation, LINQ, and SQL.
        The Household Budgetere is a Web-based software application desinged for creating and managing budgets for
        household finances and the balancing of bank accounts.
        It functions as an online service that may be used in multiple households/families throughout the world.

        The Household Budgeter project is similar in nature to many such commercial-grade products
        (i.e. AceMonkey, BudgetPulse, Moneydance, Pocketsmith, QuickBooks, EveryDollar, etc.),
        which most employers are familar.

    </p>
    <p><a href="@Url.Action("About")" target="_blank" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Free Demo Logins</h2>
            </div>
            <div class="panel-body">
                Use one of the following demo logins to try out my application. Once you've logged in you have
                the authority to access different models and actions, such as the household, invitations, bank accounts,
                transaction, and more. Give it a try!
                <p/>

                <div class="col-sm-2">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>
                            <input name="Email" type="hidden" value="zxiong1008@gmail.com">
                            <button type="submit" class="btn btn-primary">Zeng</button>
                        </h3>
                    }
                </div>
                <div class="col-sm-2">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>
                            <input name="Email" type="hidden" value="Admin@HouseholdBudget.com">
                            <button type="submit" class="btn btn-primary">Admin</button>
                        </h3>
                    }
                </div>
                <div class="col-sm-2">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>
                            <input name="Email" type="hidden" value="Husband@HouseholdBudget.com">
                            <button type="submit" class="btn btn-primary">Husband</button>
                        </h3>
                    }
                </div>
                <div class="col-sm-2">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>
                            <input name="Email" type="hidden" value="Wife@HouseholdBudget.com">
                            <button type="submit" class="btn btn-primary">Wife</button>
                        </h3>
                    }
                </div>
                <div class="col-sm-2">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>
                            <input name="Email" type="hidden" value="Son@HouseholdBudget.com">
                            <button type="submit" class="btn btn-primary">Son</button>
                        </h3>
                    }
                </div>
                <div class="col-sm-2">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>
                            <input name="Email" type="hidden" value="Daughter@HouseholdBudget.com">
                            <button type="submit" class="btn btn-primary">Daughter</button>
                        </h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Visit My Personal Website</h3>
            </div>
            <div class="panel-body">
                The Personal Website is a Web-based software application designed to mirror a blog application. 
                It contains a blog post, blog comments, my portfolio, contact page using sendgrid, and more.
                This application uses ASP.NET MVC, Entity Framework and Code-First database to build this application 
                using HTML5, CSS3, JAVASCRIPT, BOOTSTRAP and more. When visiting a link, you will notice the URL patterns.
                The model calls an action from the controller which renders a view to the page.
                <p/>
                <p><a class="btn btn-primary" href="http://zengxiong.azurewebsites.net/" target="_blank">Visit Blog &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Visit my BugTracker</h3>
            </div>
            <div class="panel-body">
                    The Bug Tracker is a Web-based software application designed to mirror any of a wide variety
                    of bug tracking software systems in use by corporation thoroughout world. If a company
                    develops software, whether for in-house use or distribution, it uses a bug tracking system
                    to maintain an accurate record of the software development process on a per-project basis.
                <p/>
                <p><a class="btn btn-primary" href="http://zxiong-bugtracker.azurewebsites.net/" target="_blank">Visit BugTracker &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Check out my LinkedIn</h3>
            </div>
            <div class="panel-body">
                LinkedIn is a professional business-oriented social networking service which provides tool 
                to connect with job candidates, industry expers, and business partners. My LinkedIn contains
                a short bio summary, websites, resume, experiences, skills, and more.
                <p />
                <p><a class="btn btn-primary" href="http://linkedin.com/in/zengxiong" target="_blank">Visit LinkedIn &raquo;</a></p>
            </div>
        </div>
    </div>
</div>