<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Budget.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding: 0;
        }
    </style>

</head>
<body>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="div-col-3" id="sidebar">
        <br />
        <ul class="nav nav-pills nav-stacked text-center navbar-collapse">
            <li>
                <a href="@Url.Action("Index", "Home")" id="budgetlogo">
                    <img src="https://sparkleandshinesami.files.wordpress.com/2013/06/saving-money.jpg?w=300&h=199" class="img-rounded img-responsive" id="side-img" />
                </a>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus-square"></i>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.Raw("Welcome " + Html.Raw(Html.Action("GetCurrentUserName", "Account")))
                    }
                    else
                    {
                        @Html.Raw("Household Budget App")
                    }

                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Home")"><span class="fa fa-home fa-2x"></span> Home</a></li>
                    <li><a href="@Url.Action("Index", "Manage")"><span class="fa fa-user fa-2x"></span> Profile</a></li>
                    <li><a href="@Url.Action("About", "Home")"><span class="fa fa-magic fa-2x"></span> About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span class="fa fa-phone fa-2x"></span> Contact</a></li>
                    <li><a href="http://github.com/zxiong1008"><i class="fa fa-github fa-2x"></i>Zeng's GitHub</a></li>
                    <li><a href="http://zengxiong.azurewebsites.net/"><i class="fa fa-black-tie fa-2x"></i>Zeng's Blog</a></li>
                    <li><a href="http://zxiong-bugtracker.azurewebsites.net/"><i class="fa fa-bug fa-2x"></i>BugTracker</a></li>


                </ul>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Dashboard", "Home")" class="text-center"><i class="fa fa-calculator fa-2x"></i> Household Budgeter Application</a></li>
                <li><a href="@Url.Action("Index", "HouseHolds")"><i class="fa fa-group fa-2x"></i> Household</a></li>
                <li><a href="@Url.Action("Index", "Invitations")"><i class="fa fa-envelope fa-2x"></i> Invitations</a></li>
                <li><a href="@Url.Action("Index", "BankAccounts")"><i class="fa fa-bank fa-2x"></i> BankAccounts</a></li>
                <li><a href="@Url.Action("Index", "Transactions")"><i class="fa fa-archive fa-2x"></i> Transactions</a></li>
                <li><a href="@Url.Action("Index", "Budgets")"><i class="fa fa-balance-scale fa-2x"></i> Budgets</a></li>
                <li><a href="@Url.Action("Index", "BudgetItems")"><i class="fa fa-cubes fa-2x"></i> BudgetItems</a></li>
                <li><a href="@Url.Action("Index", "Categories")"><i class="fa fa-database fa-2x"></i> Categories</a></li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input type="submit" value="&#xf08b; LogOff" class="btn btn-block fa fa-2x" id="LogOff"/>
                        </div>
                    }
                </li>
            }
            else
            {
                <li>
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <select name="Email" onchange="this.form.submit()" class="btn btn-success">
                            <option>Select Demo User </option>
                            <option value="zxiong1008@gmail.com">Zeng</option >
                            <option value="Admin@HouseholdBudget.com">Admin</option>
                            <option value="Husband@HouseholdBudget.com">Husband</option >
                            <option value="Wife@HouseholdBudget.com">Wife</option>
                            <option value="Son@HouseholdBudget.com">Son</option >
                            <option value="Daughter@HouseholdBudget.com">Daughter</option>
                        </select>
                    }
                </li>
                <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus fa-2x"></i> Register</a></li>
                <li><a href="@Url.Action("Login", "Account")">Log in <i class="fa fa-sign-in fa-2x"></i></a></li>
            }
        </ul>
    </div>


    <div id="main">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dotdotdot.js"></script>

    <script>
        $(function () {
            $("a.delete-link").click(function () {
                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();

                var cancelDelete = function () {
                    removeEvents();
                    showDeleteLink();
                };

                var deleteItem = function () {
                    removeEvents();
                    confirmButton.hide();
                    $.post(
                        '@Url.Action("Delete")',
                        AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                       .done(function () {
                           var parentRow = deleteLink.parents("tr:first");
                           parentRow.fadeOut('fast', function () {
                               parentRow.remove();
                           });
                       }).fail(function (data) {
                           alert("error");
                       });
                    return false;
                };

                var removeEvents = function () {
                    confirmButton.off("click", deleteItem);
                    $(document).on("click", cancelDelete);
                    $(document).off("keypress", onKeyPress);
                };

                var showDeleteLink = function () {
                    confirmButton.hide();
                    deleteLink.show();
                };

                var onKeyPress = function (e) {
                    //Cancel if escape key pressed
                    if (e.which == 27) {
                        cancelDelete();
                    }
                };

                confirmButton.on("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).on("keypress", onKeyPress);

                return false;
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
   

    <script>
        $(document).ready(function () {
            $('#transactionTable').DataTable();
            $('#categoriesTable').DataTable();
            $('#budgetItemsTable').DataTable();
            $('#budgetsTable').DataTable(/*{ "pageLength": 5 }*/);
        });
    </script>

    <script>
        $(document).ready(function () {
            $("[id^=wrapper]").dotdotdot({
                /*	The text to add as ellipsis. */
                ellipsis: '... ',

                /*	How to cut off the text/html: 'word'/'letter'/'children' */
                wrap: 'word',

                /*	Wrap-option fallback to 'letter' for long words */
                fallbackToLetter: true,

                /*	jQuery-selector for the element to keep and put after the ellipsis. */
                after: null,

                /*	Whether to update the ellipsis: true/'window' */
                watch: false,

                /*	Optionally set a max-height, can be a number or function.
                    If null, the height will be measured. */
                height: 10,

                /*	Deviation for the height-option. */
                tolerance: 0,

                /*	Callback function that is fired after the ellipsis is added,
                    receives two parameters: isTruncated(boolean), orgContent(string). */
                callback: function (isTruncated, orgContent) { },

                lastCharacter: {

                    /*	Remove these characters from the end of the truncated text. */
                    remove: [' ', ',', ';', '.', '!', '?'],

                    /*	Don't add an ellipsis if this array contains
                        the last character of the truncated text. */
                    noEllipsis: []
                }
            });
        })
    </script>

    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            height: 100,
            toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",
            statusbar: false,
            menubar: false
        });
    </script>

</body>
</html>
