@model Household_Budgeter.Models.Invitation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invitation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Households.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Households.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joined)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
