@model IEnumerable<Household_Budgeter.Models.Invitation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Households.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Joined)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Households.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Joined)
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id=item.Id })" class="btn btn-danger">Delete Invitation</a>
        </td>
    </tr>
}

</table>
